# Set the host LAN address so links do not contain the container's internal IP.
LANDROP_IP=192.168.1.100
LANDROP_PORT=8000
LANDROP_DATA_DIR=./data
# Match the owner of the persistent directory.
PUID=1000
PGID=1000
TZ=Asia/Singapore
